<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Name='System76 Keyboard Configurator'
        Manufacturer='System76, Inc.'
        Id='*'
        UpgradeCode='548e3064-0ff9-421a-91dc-1f1bd0afe9b6'
        Language='1033'
        Codepage='1252'
        Version='$(var.crate_version)'
            >

        <!-- Comments='' -->
        <Package
            Id='*'
            Keywords='Installer'
            Description="System76 Keyboard Configurator $(var.crate_version) Installer"
            Manufacturer='System76, Inc.'
            InstallerVersion='100'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='1252'
            InstallScope='perMachine'
            />

        <Media Id='1' Cabinet='KeyboardConfigurator.cab' EmbedCab='yes' />

        <Icon Id="keyboard_configurator.ico" SourceFile="out/keyboard-configurator.ico"/>
        <Property Id="ARPPRODUCTICON" Value="keyboard_configurator.ico" />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder' Name='PFiles'>
                <Directory Id='System76' Name='System76'>
                    <Directory Id='INSTALLDIR' Name='Keyboard Configurator'>
                        <Component Id='MainExecutable' Feature='Complete' Guid='*'>
                            <File Name='system76-keyboard-configurator.exe' Source='out/system76-keyboard-configurator.exe' KeyPath='yes'>
                                <Shortcut Id="KeyboardConfiguratorShortcut" Directory="ProgramMenuDir" Name="System76 Keyboard Configurator"
                                    WorkingDirectory='INSTALLDIR' Advertise="yes" Icon='keyboard_configurator.ico' />
                            </File>
                        </Component>
                        <?include libraries.wxi ?>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="System76 Keyboard Configurator">
                    <Component Id="ProgramMenuDir" Feature="Complete" Guid="*">
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id='Complete' Level='1' />

        <WixVariable Id="WixUILicenseRtf" Value="gpl.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
        <UIRef Id="WixUI_Minimal" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."
                      AllowSameVersionUpgrades="yes" />
    </Product>
</Wix>
