/result
/target
/linux/system76-keyboard-configurator
/windows/out
/windows/sign
/windows/libraries.wxi
/windows/*.png
/windows/*.bmp
/macos/Info.plist
/macos/background.png
/macos/keyboard-configurator
*.AppDir
*.AppImage
*.msi
*.wixobj
*.wixpdb
*.dmg
*.icns
*.app
.DS_Store
__pycache__
vendor
vendor.tar
gschemas.compiled
