/result
/target
/linux/system76-keyboard-configurator
/windows/out
/windows/sign
/windows/libraries.wxi
/windows/*.png
/windows/*.bmp
/macos/Info.plist
/macos/background.png
/macos/keyboard-configurator
*.AppDir
*.AppImage
*.msi
*.wixobj
*.wixpdb
*.dmg
*.icns
*.app
.DS_Store
__pycache__
vendor
vendor.tar
gschemas.compiled
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/libsystem76-keyboard-configurator-dev.debhelper.log
debian/libsystem76-keyboard-configurator-dev.substvars
debian/libsystem76-keyboard-configurator-dev/
debian/libsystem76-keyboard-configurator.debhelper.log
debian/libsystem76-keyboard-configurator.substvars
debian/libsystem76-keyboard-configurator/
debian/system76-keyboard-configurator.debhelper.log
debian/system76-keyboard-configurator.substvars
debian/system76-keyboard-configurator/
debian/tmp/
