Source: system76-keyboard-configurator
Section: admin
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends:
  debhelper (>= 11),
  cargo,
  rustc (>=1.36.0),
  libgtk-3-dev,
  libhidapi-dev,
  libudev-dev,
  pkg-config,
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/keyboard-configurator

Package: system76-keyboard-configurator
Architecture: amd64 arm64
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Description: System76 Keyboard Configurator
  Application for configuration of System76 keyboard firmware.

Package: libsystem76-keyboard-configurator
Architecture: amd64 arm64
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Description: Pop keyboard backlight library
 Shared library for C which provides the Pop!_OS keyboard backlight as a GTK widget.

Package: libsystem76-keyboard-configurator-dev
Architecture: all
Depends:
  libsystem76-keyboard-configurator (= ${binary:Version}),
  ${misc:Depends}
Description: Pop keyboard backlight library header
 The C header required to link to the Pop!_OS keyboard backlight widget library.
