[Desktop Entry]
Name=System76 Keyboard Configurator
Exec=system76-keyboard-configurator
Icon=keyboard-configurator
Type=Application
Categories=Utility;
