[Desktop Entry]
Name=System76 Keyboard Configurator
Name[hu]=System76 Billentyűzet-konfigurátor
Exec=system76-keyboard-configurator
Icon=com.system76.keyboardconfigurator
Type=Application
StartupNotify=true
Categories=Utility;
